@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
    --primary-color: #eff6ff;
    --secondary-color: #1e293b;
    --accent-color: #03cb97;
}

/* Dark theme colors */
:root.dark {
    --primary-color: #2a2829;
    --secondary-color: #eff6ff;
    --accent-color: #03cb97;
    --ldark-color: rgba(85, 81, 81, 0.224);
}

body {
    background-color: var(--primary-color);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #03cb97;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #03cb97 !important;
}