@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme colors */
:root {
    --primary-color: #eff6ff;
    --secondary-color: #1e293b;
    --accent-color: #03cb97;
    --map-color: unset;
}

/* Dark theme colors */
:root.dark {
    --primary-color: #2a2829;
    --secondary-color: #eff6ff;
    --ldark-color: rgba(85, 81, 81, 0.224);
    --map-color: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

body {
    background-color: var(--primary-color);
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: var(--map-color);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--accent-color);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--accent-color) !important;
}